<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>My first Vue app</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div
      id="app"
      tabindex="0"
      v-on:keydown.up="up()"
      v-on:keydown.down="down()"
      v-on:keydown.left="left()"
      v-on:keydown.right="right()"
      v-on:keydown.space="undo()"
      v-on:keydown.escape="clear()"
    >
      <table>
        <td>
          <table border="1">
            <tr v-for="(line, i) in board" :key="i">
              <td v-for="(c, j) in line" :key="j">
                {{ emoji[c] == ' ' ? '&nbsp;' : emoji[c] }}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td />
              <td><button v-on:click="up()">↑</button></td>
              <td />
            </tr>
            <tr>
              <td><button v-on:click="left()">←</button></td>
              <td />
              <td><button v-on:click="right()">→</button></td>
            </tr>
            <tr>
              <td />
              <td><button v-on:click="down()">↓</button></td>
              <td />
            </tr>
          </table>
        </td>
      </table>
      {{ history.length }} step. [{{ summary }}] <br />
      矢印キーで {{ emoji['S'] }} を操作して、{{ emoji['o'] }} を押してどけて {{
      emoji['G'] }} に行こう。<br />
      <button v-on:click="undo()">スペースキーでundo</button>,
      <button v-on:click="clear()">Escapeで最初から</button>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          problem: [
            "xxGxx",
            "x   x",
            "oo oo",
            " ooo ",
            "o   o",
            " ooo ",
            "     ",
            "     ",
            "  S  "
          ],
          board: [],
          history: [],
          mutation: [],
          emoji: {
            o: "🎱",
            G: "🎯",
            " ": " ",
            x: "🚧",
            S: "🧍‍♂️"
          }
        },
        computed: {
          width() {
            return this.board[0].length;
          },
          height() {
            return this.board.length;
          },
          summary() {
            return this.history.map((i) => i.label).join("");
          }
        },
        created() {
          this.clear();
        },
        methods: {
          clear() {
            this.history = [];
            let board = [];
            for (let l of this.problem) {
              board.push([...l]);
            }
            this.board = board;
          },
          get(x, y) {
            if (x < 0 || x >= this.width || y < 0 || y >= this.height)
              return "x";
            return this.board[y][x];
          },
          set(x, y, c) {
            if (x < 0 || x >= this.width || y < 0 || y >= this.height) return;
            this.mutation.push({ x, y, old: this.board[y][x], new: c });
            this.board[y][x] = c;
          },
          up() {
            this.move(0, -1, "↑");
          },
          down() {
            this.move(0, 1, "↓");
          },
          left() {
            this.move(-1, 0, "←");
          },
          right() {
            this.move(1, 0, "→");
          },
          undo() {
            if (this.history.length > 0) {
              mutation = this.history.pop().mutation;
              for (c of mutation) {
                this.set(c.x, c.y, c.old);
              }
            }
          },
          move(dx, dy, label) {
            let sx, sy;
            for (y = 0; y < this.height; ++y) {
              for (x = 0; x < this.width; ++x) {
                if (this.get(x, y) == "S") {
                  sx = x;
                  sy = y;
                  break;
                }
              }
            }
            this.mutation = [];

            const nx = sx + dx;
            const ny = sy + dy;
            if (this.get(nx, ny) == " ") {
              this.set(nx, ny, "S");
              this.set(sx, sy, " ");
            } else if (this.get(nx, ny) == "o") {
              if (this.get(nx + dx, ny + dy) == " ") {
                this.set(nx + dx, ny + dy, "o");
                this.set(nx, ny, "S");
                this.set(sx, sy, " ");
              }
            } else if (this.get(nx, ny) == "G") {
              alert(`おめでとう。 ${this.history.length} 手でした。`);
            }
            if (this.mutation.length > 0) {
              this.history.push({ label, mutation: this.mutation });
              this.mutation = [];
            }
          }
        }
      });
    </script>
  </body>
</html>
